@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("fonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  direction: rtl;
  font-family: Vazirmatn;
}

.a {
  outline-width: 1px;
  outline-color: black;
  outline-style: solid;
  outline-offset: -1px;
}
